#contactForm {
    margin-left: 20%;
    margin-right: 20%;
}

#getInTouchModal .modal-dialog .modal-content .modal-body {
    margin-top: 5%;
}

.modal-header,
.modal-footer {
    border: none;
}

.contact-modal-body-title {
    text-align: center;
}

.contact-send-button {
    width: 10rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media (max-width: 68rem) {
    #contactForm {
        margin-left: 10%;
        margin-right: 10%;
    }
}