.events-container {
    padding-top: 10em;
    padding-bottom: 5em;
    text-align: center;
}

.events-title {
    text-align: center;
    padding-bottom: 5em;
}

.event-cards-container {
    padding: 2.5rem;
    text-align: center;
}