/*
*   BEGIN: Welcome Banner Section
*/

.welcome-banner-background {
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url('../../../assets/images/backgrounds/welcome-banner.jpg');
}

.welcome-home-container {
    z-index: 2;
    height: 18rem;
    width: 18rem;
    position: absolute;
    top: 30%;
    left: calc((100% - 20rem) / 2);
}

.welcome-home-circle {
    z-index: 3;
    position: relative;
    height: 20rem;
    width: 20rem;
    border-radius: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) -10px -10px 15px;
}

.welcome-home-square {
    z-index: 2;
    position: relative;
    background-color: white;
    height: 10rem;
    width: 10rem;
    margin-left: 10rem;
    margin-top: -10rem;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.welcome-home-text-container {
    font-family: 'Nexa';
    text-align: center;
    padding-top: 8em;
}

#welcomeHome {
    font-size: 2em;
    display: inline-block;
}

#welcomeHome p {
    margin-bottom: 0;
}

#joinTheFamily {
    font-size: 1.5em;
    color: #1de22d;
}

/*
*  Responsive styles
*/

@media (max-width: 68rem) {
    .welcome-home-container {
        left: calc((100% - 18em) / 2);
    }

    .welcome-home-circle {
        height: 18rem;
        width: 18rem;
    }

    .welcome-home-square {
        height: 9rem;
        width: 9rem;
        margin-left: 9rem;
        margin-top: -9rem;
        border-radius: 3px;
    }

    .welcome-home-text-container {
        padding-top: 7.5em;
    }

    #welcomeHome {
        font-size: 1.6em;
    }
    
    #joinTheFamily {
        font-size: 1.2em;
    }    
}

/*
*   END: Welcome Banner Section
*
*
*   ----------------------------
*
*
*   BEGIN: Service Section
*/

.service-container {
    color: white;
    text-align: center;
    height: 65%;
}

.service-title {
    width: 100%;
    z-index: 1;
    text-align: center;
    position: absolute;
    padding-top: 5em;
    color: white;
}

.service-details {
    padding-top: 12em;
    padding-bottom: 5em;
}

.morning-service-details {
    background-image: url('../../../assets/images/backgrounds/morning-service.jpg');
}

.evening-service-details {
    background-image: url('../../../assets/images/backgrounds/evening-service.jpg');
}

/*
*   END: Services Section
*
*
*   ----------------------------
*
*
*   BEGIN: Sermons Section
*/

.sermons-section {
    text-align: center;
}

.sermons-title {
    padding-top: 5em;
    padding-bottom: 3em;
}

.sermon-video-container {
    width: 100%;
    height: 80vh;
}

.sermon-video-iframe {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.sermons-button-container {
    margin-top: 5em;
    margin-bottom: 5em;
}

/*
*  Responsive styles
*/

@media (max-width: 68rem) {
    .sermon-video-container {
        height: 50vh;
    }

    .sermon-video-iframe {
        width: 100%;
    }
}

/*
*   END: Sermons Section
*
*
*   ----------------------------
*
*
*   BEGIN: About Us Section
*/

.about-us-section {
    padding-top: 5rem;
    text-align: center;
}

.more-about-button-container {
    margin-top: 10em;
    margin-bottom: 5em;
}