<!-- Welcome Banner -->
<div class="welcome-banner-background background-image">
    <div class="welcome-home-container">
        <div class="welcome-home-circle">
            <div class="welcome-home-text-container">
                <div id="welcomeHome">
                    <p><b>WELCOME</b> HOME.</p>
                </div>
                <div id="joinTheFamily">
                    <p>JOIN THE <b> FAMILY</b></p>
                </div>
            </div>
        </div>
        <div class="welcome-home-square"></div>
    </div>
</div>

<div class="container-fluid">    
    <!-- Services -->
    <div class="row">
        <div class="col-12">
            <div class="service-title">
                <h2><b>SERVICES</b></h2>
            </div>
        </div>
    </div>
    
    <div class="service-container row">
        <div class="col-lg-6 col-sm-12 morning-service-details service-details background-image">
    
            <h4><b>MORNING</b></h4>
            <h5><i>9AM</i></h5>
            <br>
            <p>Join us in person or online every Sunday for our<br> family gatherings at 9am.</p>
    
            <div class="church-online-button-container">
                <button class="btn btn-success btn-green" href="https://live.newcreation.co.za/" target="_blank">
                    <b>CHURCH ONLINE</b>
                </button>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 evening-service-details service-details background-image">
            <h4><b>EVENING</b></h4>
            <h5><i>6PM</i></h5>
            <br>
            <p>Check out the Young Adults service<br> Sunday evenings at 6pm</p>
        </div>
    </div>
    
    <!-- Sermons -->

    <div class="sermons-section row">
        <div class="sermons-title">
            <h2><b>SERMONS</b></h2>
        </div>
    
        <div class="sermon-video-container">
            <iframe class="sermon-video-iframe"
                    src="https://www.youtube.com/embed/videoseries?list=PLEkUPWiPdGnuAzzVS1lGwPPQML71_VmA6" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
            </iframe>
        </div>
    
        <div class="sermons-button-container">
            <button id="sermon-btn" 
                    class="btn btn-success btn-green" 
                    routerLink="/sermons">
                <b>ALL SERMONS</b>
            </button>
        </div>
    </div>
    
    <!-- About Us -->
    <div class="about-us-section row">
        <div class="col-lg-6 col-sm-12 our-mission-container">
            <h3><b>OUR MISSION</b></h3>
            <p>Loving God, Loving Others,<br>Advancing His Kingdom</p>
        </div>
        <div class="col-lg-6 col-sm-12 our-vision-container">
            <h3><b>OUR VISION</b></h3>
            <p>Becoming His community<br>to impact our community</p>
        </div>

        <div class="more-about-button-container">
            <button id="about-btn" 
                    class="btn btn-success btn-green" 
                    routerLink="/about">
                <b>MORE ABOUT US</b>
            </button>
        </div>
    </div>
    
    <!-- Visitors -->
    
    <!-- Events -->
    
    <!-- Giving -->
    
    <!-- Minisitres -->
    
    <!-- Serving -->
    
    <!-- Global Family -->
    
    <!-- Contact -->
</div>