/*
*   BEGIN: Welcome Banner Section
*/

.welcome-banner-background {
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url('../../../assets/images/backgrounds/welcome-banner.jpg');
}

.welcome-home-container {
    z-index: 2;
    height: 18rem;
    width: 18rem;
    position: absolute;
    top: 30%;
    left: calc((100% - 18rem) / 2);
}

.welcome-home-circle {
    z-index: 3;
    position: relative;
    height: 20rem;
    width: 20rem;
    border-radius: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) -10px -10px 15px;
}

.welcome-home-square {
    z-index: 2;
    position: relative;
    background-color: white;
    height: 10rem;
    width: 10rem;
    margin-left: 10rem;
    margin-top: -10rem;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.welcome-home-text-container {
    font-family: 'Nexa';
    text-align: center;
    padding-top: 8em;
}

#welcomeHome {
    font-size: 1.8em;
    display: inline-block;
}

#welcomeHome p {
    margin-bottom: 0;
}

#joinTheFamily {
    font-size: 1.5em;
    color: #1de22d;
}

/*
*  Responsive styles
*/

@media (max-width: 68rem) {
    .welcome-home-container {
        height: 20rem;
        width: 20rem;
        left: calc((100% - 20rem) / 2);
    }

    .welcome-home-circle {
        height: 20rem;
        width: 20rem;
    }

    .welcome-home-square {
        height: 10rem;
        width: 10rem;
        margin-left: 10rem;
        margin-top: -10rem;
        border-radius: 3px;
    }

    .welcome-home-text-container {
        padding-top: 7.5em;
    }

    #welcomeHome {
        font-size: 1.75em;
    }
    
    #joinTheFamily {
        font-size: 1.5em;
    }   
}

@media (max-width: 51rem) {
    .welcome-home-container {
        height: 14rem;
        width: 14rem;
        left: calc((100% - 14rem) / 2);
    }

    .welcome-home-circle {
        height: 14rem;
        width: 14rem;
    }

    .welcome-home-square {
        height: 7rem;
        width: 7rem;
        margin-left: 7rem;
        margin-top: -7rem;
        border-radius: 3px;
    }

    .welcome-home-text-container {
        padding-top: 5.2em;
    }

    #welcomeHome {
        font-size: 1.2em;
    }
    
    #joinTheFamily {
        font-size: 1.05em;
    }    
}

@media (max-width: 18rem) {
    .welcome-home-container {
        height: 12rem;
        width: 12rem;
        left: calc((100% - 12rem) / 2);
    }

    .welcome-home-circle {
        height: 12rem;
        width: 12rem;
    }

    .welcome-home-square {
        height: 6rem;
        width: 6rem;
        margin-left: 6rem;
        margin-top: -6rem;
        border-radius: 2px;
    }

    .welcome-home-text-container {
        padding-top: 4.5em;
    }

    #welcomeHome {
        font-size: 1.2em;
    }
    
    #joinTheFamily {
        font-size: 1em;
    }    
}

/*
*   END: Welcome Banner Section
*
*
*   ----------------------------
*
*
*   BEGIN: Service Section
*/

.service-section {
    color: white;
    text-align: center;
    height: 100%;
}

.service-title {
    width: 100%;
    z-index: 1;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
    padding-top: 5em;
    color: white;
}

#churchOnlineButton {
    margin-top: 1.5em;
    width: 15em;
}

.service-details {
    padding-top: 10em;
    padding-bottom: 5em;
    padding-left: 7.5rem;
    padding-right: 7.5rem;
}

.morning-service-details {
    background-image: url('../../../assets/images/backgrounds/morning-service.jpg');
}

.evening-service-details {
    background-image: url('../../../assets/images/backgrounds/evening-service.jpg');
}

/*
*  Responsive styles
*/

@media (max-width: 68rem) {
    #churchOnlineButton {
        margin-top: 1.5em;
    }

    .service-details {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .morning-service-details {
        padding-top: 18em;
    }

    .evening-service-details {
        padding-top: 6em;
    }
}

/*
*   END: Services Section
*
*
*   ----------------------------
*
*
*   BEGIN: Sermons Section
*/

.sermons-section {
    text-align: center;
}

.sermons-title {
    padding-top: 5em;
    padding-bottom: 3em;
}

.sermon-video-container {
    width: 100%;
    height: 80vh;
}

.sermon-video-iframe {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.sermons-button-container {
    margin-top: 5em;
    margin-bottom: 5em;
}

#sermonButton {
    width: 15em;
}

/*
*  Responsive styles
*/

@media (max-width: 68rem) {
    .sermon-video-container {
        height: 50vh;
        padding: 0;
    }

    .sermon-video-iframe {
        width: 100%;
    }

    .sermons-button-container {
        padding: 0;
    }
}

/*
*   END: Sermons Section
*
*
*   ----------------------------
*
*
*   BEGIN: About Us Section
*/

.about-us-section {
    padding-top: 5rem;
    text-align: center;
    background-color: #e9ecef;
}

.about-us-details {
    margin-bottom: 5em;
}

.more-about-button-container {
    margin-bottom: 5em;
}


#aboutButton {
    width: 15em;
}

/*
*   END: About Us Section
*
*
*   ----------------------------
*
*
*   BEGIN: Visitors Section
*/

.visitors-section {
    background-image: url('../../../assets/images/backgrounds/visitor-background.jpg');
    height: 50vh;
    color: white;
    text-align: center;
}

.visitor-title {
    padding-top: 5em;
}

.btn-visitor {
    background-color: rgba(250, 250, 250, 0.80);
    border-color: #f1f1f1;    
    color: #3c3c3c;
    width: 50%;
}

.btn-visitor:hover {
    background-color: rgb(255, 255, 255, 1);
}

@media (max-width: 18rem) {
    .btn-visitor {
        width: 15em;
    }
}

/*
*   END: Visitors Section
*
*
*   ----------------------------
*
*
*   BEGIN: Events Section
*/

.events-section {
    text-align: center;
}

.events-title {
    padding-top: 5em;
}

.no-events {
    padding: 5em;
    color: #7f7f7f;
}

/*
*   END: Events Section
*
*
*   ----------------------------
*
*
*   BEGIN: Giving Section
*/

.giving-section {
    text-align: center;
    background-color: #e9ecef;
    padding-bottom: 5em;
}

.giving-title {
    padding-top: 5em;
    padding-bottom: 2em;
}

.giving-content {
    padding: 2em 5em;
}

.giving-col {
    min-height: 300px;
    margin-bottom: 2em;
}

.giving-option {
    background-color: white;
    height: 100%;
    margin-left: 8em;
    margin-right: 8em;
    border-radius: 5px;
    padding-top: 2em;
    padding-bottom: 2em;
}

/*
*  Responsive styles
*/

@media (max-width: 68rem) {
    .giving-section {
        padding-bottom: 2.5em;
    }

    .giving-content {
        padding-left: 2.5em;
        padding-right: 2.5em;
    }

    .giving-option {
        margin-left: 1em;
        margin-right: 1em;
    }
}

/*
*   END: Giving Section
*
*
*   ----------------------------
*
*
*   BEGIN: Connect Section
*/

.connect-section {
    min-height: 25em;
    text-align: center;
    padding-bottom: 5em;
    background-image: url('../../../assets/images/backgrounds/connect-background.jpg');
}

.connect-title {
    padding-top: 5em;
    padding-bottom: 2em;
}

.connect-content {
    text-align: left;
    padding-left: 10em;
    padding-right: 5em;
}

.connect-button {
    width: 15em;
}

@media (max-width: 68rem) {
    .connect-content {
        text-align: center;
        padding-left: 5em;
        padding-right: 5em;
    }

    .connect-button {
        width: 12em;
    }
}

@media (max-width: 18rem) {
    .connect-content {
        padding-left: 1em;
        padding-right: 1em;
    }
}

/*
*   END: Connect Section
*
*
*   ----------------------------
*
*
*   BEGIN: Contact Us Section
*/

.contact-section {
    text-align: center;
    background-color: #e9ecef;
    padding-bottom: 2.5em;
}

.contact-title {
    padding-top: 5em;
    padding-bottom: 2em;
}

.contact-item {
    padding-bottom: 2em;
}

.contact-item-icon {
    margin-bottom: 1em;
}

.get-in-touch-section {
    background-color: #e9ecef;
    padding-bottom: 5em;
}

.btn-get-in-touch {
    width: 15em;
}

/*
*   END: Contact Us Section
*/