<app-banner-section></app-banner-section>

<div class="container-fluid">
    <app-service-section></app-service-section>
    
    <app-sermons-section></app-sermons-section>
    
    <app-about-us-section></app-about-us-section>
    
    <app-visitors-section></app-visitors-section>
    
    <app-connect-section></app-connect-section>

    <app-events-section></app-events-section>
    
    <app-giving-section></app-giving-section>
    
    <app-contact-us-section></app-contact-us-section>
</div>

<app-contact-modal></app-contact-modal>