<div class="container-fluid text-center nc-kids-412-container">
    <img class="nc-kidz-image" [src]="ncFourTwelveLogoImageUrl" width="350">      
    <br><br>

    <div id="fourTwelveContent">
        <h2>412 Model</h2>
        <hr><br><br>

        <h4><u>REGISTRATION</u></h4><br>
        <p style="text-align:left">
            Four Twelve (412) Sessions begins with the registration process (around 16h45). Each child must pass through a secure process of registration before entering the auditorium. This is for security, administration, and control purposes. The registration process consists of 2 areas; Registration areas, and an Information & New Kids area. Each area is manned by leaders and is overseen by a senior leader. 
        </p>
        <ul>
        <li><b>Registration areas</b>&nbsp;-&nbsp; In this area children provide a membership card and the card is scanned. This books them into the system which provides us with all their details. Each child then goes and receives a name tag and then is sent into the auditorium. At the end of the evening, each child must return to the registration area and scan their cards. This then books them out of the system and they are able to leave.</li>
        <li><b>Information & New Kids area</b>&nbsp;-&nbsp;In this area the children that arrive for the first time are captured onto our database. His/Her details are collected and an indemnity form filled out by their parent. A NCFC Kidz card is issued, a name tag is then given and the child enters the auditorium. This area also provides information about NCFC Kidz processes, any announcements, camps & Holiday Club details, and any other NCFC Kidz related info!</li>
        </ul>
        <hr>
        <br><br><br>
        
        <h4><u>CORPORATE TIME</u></h4><br>
        <p style="text-align:left">
            The function of Corporate Time (CT) is to get the kids settled and to introduce the theme of the day! CT consists of welcoming the kids, having praise and worship, presenting the teaching and drama, and occasionally a large group game is played depending on time.
        </p>
        <ul>
        <li><b>Welcome</b>&nbsp;-&nbsp; This kicks off the program, getting the kids attention and settling them down.</li>
        <li><b>Announcements</b>&nbsp;-&nbsp;We welcome new kids, discuss upcoming events, and chat about matters that need attention</li> 
        <li><b>Prayer</b>&nbsp;-&nbsp;Prayer We give prayer unto the Father to welcome, honour, and spend time with Him.</li>
        <li><b>Theme Intro</b>&nbsp;-&nbsp;The theme for the day is introduced.</li>
        <li><b>Ice-breaker Time</b>&nbsp;-&nbsp;We play an ice-breaker that aims to bring unity and focus to the children.</li>
        <li><b>Praise and Worship</b>&nbsp;-&nbsp;Praise and Worship gets the kids singing and worshipping in order to honour God and ushering in His presence!</li>
        <li><b>Teaching</b>&nbsp;-&nbsp;A teaching is given based on the theme to get the kids thinking and equipping them with knowledge. Teachings consist of illustrations and discussion. The memory verse for the day is also presented.</li>
        </ul>
        <hr>
        <br><br><br>

        <h4><u>GROUP TIME</u></h4><br>
        <p style="text-align:left">
            Group Time (GT) follows CT! The function of GT is for the theme of the day to be emphasized, relationships to be built between the leader and kids, and areas within the kid’s lives that need attention may be identified and /or discussed. GT consists of prayer, chat, memory verses, illustrations, and theme discussions.<br><br>Sessions consist of:
        </p>
        
        <ul>
        <li><b>Prayer</b>&nbsp;-&nbsp;Open the time with prayer!</li>
        <li><b>Welcome</b>&nbsp;-&nbsp;Welcome all the kids, spend time finding out about the new kids (if any)!</li>
        <li><b>Chat</b>&nbsp;-&nbsp;Have general discussion to build trust and strengthen the relationship with the leaders and group!</li>
        <li><b>Memory Verse</b>&nbsp;-&nbsp;The Memory Verse of the day is given and practiced and previous verses are tested.</li>
        <li><b>Illustration</b>&nbsp;-&nbsp;Provide and demonstrate an illustration to help emphasize the teaching. This follows an explanation of how it fits in with the day’s message!</li>
        <li><b>Theme Discussion</b>&nbsp;-&nbsp;A general discussion over the teaching is a great way to provide clarity. It provides the opportunity to answer questions, get view points, etc.</li>
        <li><b>Prayer</b>&nbsp;-&nbsp;A prayer ends off the Group Time.</li>    
        </ul>
        <hr>
        <br><br>

        <h4><u>CORPORATE TIME</u></h4><br>
        <p style="text-align:left">
            We meet again for CT after the GT to recap the day, have a final praise song and to go through any announcements again. The kids then leave collecting flyers, covering all announcements.
        </p>
        <ul>
            <li><b>Praise</b>&nbsp;-&nbsp;Praise gets the kids singing and worshipping in order to honour God!</li>
            <li><b>Wrap-up</b>&nbsp;-&nbsp;A recap of the day is done and kids are tested on the memory verse for the day.</li>
            <li><b>Announcements</b>&nbsp;-&nbsp;A recap of all announcements is given.</li>
            <li><b>Prayer</b>&nbsp;-&nbsp;We end off giving prayer unto the Father to protect us and aid us in implanting what was learnt into our lives.</li>    
        </ul>

        <hr>
        <br><br>

        <div class="contact-row">
            <p>
                We hope to see you at 412 soon!                    
            </p>
        </div>
    </div>
</div>