<div class="container-fluid nc-kids-home-container">
    <div id="ncKidzBannerContainer">
        <img id="ncKidzBannerImage" [src]="ncKidsHomeBannerImageUrl" alt="NC Kidz banner">
    </div>
   
    <div class="nc-kidz-video-container">
        <iframe class="nc-kidz-video-iframe"
                src="https://www.youtube.com/embed/bnjXVu48eWc?si=D3Ivmo_3TnjYv_z-" 
                frameborder="0" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
        </iframe>
    </div>

    <div class="nc-kidz-content">
        <div class="text-center mb-5">
            <a class="btn btn-green btn-success mb-3 nc-kidz-homepage-button" 
                [href]="registrationFormUrl"
                target="_blank">
                <b>REGISTER</b>
            </a>
            <button class="btn bnt-info btn-get-in-touch mb-3 nc-kidz-homepage-button" 
                data-bs-toggle="modal" 
                data-bs-target="#getInTouchModal">
                <b>CONTACT US</b>
            </button>
        </div>

        <h2>What is NC Kidz?</h2>
        <hr><br>
        <p>
            NC Kidz is a ministry of New Creation Family Church!<br>
            This ministry, through fellowship between children and leaders, focuses on equipping the children of God's Kingdom, 
            "Train a child in the way he should go and when he is old he will not turn from it," Proverbs 22:6.
        </p>
        <p>
            NC Kidz provides a fun way of teaching Christian values and principles to children as a foundation for their future 
            development in and for Christ, and aims at providing them with the building blocks for their relationship with God.
        <p>
            NC Kidz is made up of five sub ministries: NC Babies, NC Glowkidz, NC Kidz Sunday, Jam Sessions, and 412!
        </p>
    </div>

    <div id="nc-babies-row" class="nc-kidz-content">            
        <img class="nc-kidz-image" [src]="ncBabiesLogoImageUrl" alt="NC Babies Logo" width="350"> 
        <p>
            <b>Ages:</b> 6 months - 3 years<br>
            <b>When:</b> Sunday 9:00 - 10:30 
        </p>           
        <p>
            NC Babies is a sub ministry of NC Kidz, which is aimed at babies aged 6 months to 3 years every Sunday morning 9:00-10:30 at New Creation Family Church.
        </p>
        <p>
            The aim and purpose of NC Babies is to fulfill the mission and vision of NC Kidz in a manner that is relevant and age appropriate. NC Babies achieves this through a simple parent to baby interactive program that uses songs and visuals.
        </p>

        <button class="btn btn-primary" (click)="navigateToLink('/nc-kidz/babies')" (click)="scrollToTop()">
            <b>READ MORE</b>
        </button>
    </div>

    <div id="nc-sonkidz-row" class="nc-kidz-content">
        <img class="nc-kidz-image" [src]="ncSonKidzLogoImageUrl" alt="NC Sonkidz Logo" width="350"> 
        <p>
            <b>Ages:</b> 3 - 4 years<br>
            <b>When:</b> Sunday 9:00 - 10:30
        </p>          
        <p>
            NC SonKidz is a sub ministry of NC Kidz, which is aimed at toddlers aged 3-4 years every Sunday morning 9:00-10:30 at New Creation Family Church.
        </p>
        <p>
            The aim and purpose of NC SonKidz is to fulfill the mission and vision of NC Kidz in a manner that is relevant and age appropriate. NC NC SonKidz achieves this through a simple parent led program that consists of; singing songs, bible story based lessons, fun dramas and puppet shows, and lesson focused activities! 
        </p>
        
        <button class="btn btn-primary" (click)="navigateToLink('/nc-kidz/sonkidz')" (click)="scrollToTop()">
            <b>READ MORE</b>
        </button>
    </div>

    <div id="nc-glowkidz-row" class="nc-kidz-content">       
        <img class="nc-kidz-image" [src]="ncGlowKidzLogoImageUrl" alt="NC GlowKidz Logo" width="350">
        <p>
                <b>Ages:</b> 4 - 6 years<br>
                <b>When:</b> Sunday 9:00 - 10:30                      
        <p>            
        <p>
            NC Glowkidz is a sub ministry of NC Kidz, which is aimed at toddlers aged 4-6 years every Sunday morning 9:00-10:30 at New Creation Family Church.
        </p>
        <p>
            The aim and purpose of NC Glowkidz is to fulfill the mission and vision of NC Kidz in a manner that is relevant and age appropriate. NC Glowkidz achieves this through a simple parent led program that consists of; singing songs, bible story based lessons, fun dramas and puppet shows, and lesson focused activities!
        </p>
        
        <button class="btn btn-primary" (click)="navigateToLink('/nc-kidz/glowkidz')" (click)="scrollToTop()">
            <b>READ MORE</b>
        </button>
    </div>

    <div id="nc-sunday-row" class="nc-kidz-content">   
        <img class="nc-kidz-image" [src]="ncKidzSundayLogoImageUrl" alt="NC Kidz Sunday Logo" width="350">            
        <p>
            <b>Ages:</b> 6 - 13 years<br>
            <b>When:</b> Sunday 9:00 - 10:30                      
        <p>
        <p>
            NC Kidz Sunday is a sub ministry of NC Kidz, which is aimed at children aged 6-13 years every Sunday morning 9:00-10:30 at New Creation Family Church.
        </p>
        <p>
            The aim and purpose of NC Kidz Sunday is to fulfill the mission and vision of NC Kidz in a manner that is relevant and age appropriate. NC Kidz Sunday achieves this through a 1½ hour children's church service. The program consists of; praise and worship, prayer, Bible based teachings, activities, and games!
        </p>
        
        <button class="btn btn-primary" (click)="navigateToLink('/nc-kidz/sunday')" (click)="scrollToTop()">
            <b>READ MORE</b>
        </button>
    </div>

    <div id="jam-sessions-row" class="nc-kidz-content">   
        <img class="nc-kidz-image" [src]="ncJamLogoImageUrl" alt="Jam Sessions Logo" width="350">            
        <p>
            <b>Ages:</b> 7 - 12 years<br>
            <b>When:</b> Friday 17:00 - 19:00
        <p>
        <p>
            JAM is a sub ministry of NC Kidz, which is aimed at children aged 6-12 years or Grades 1-7, meeting at the New Creation Family Church Auditorium on a Friday Evening.
        </p>
        <p>
            The aim and purpose of JAM is to fulfill the mission and vision of NC Kidz in a manner that is relevant and age appropriate. JAM stands for “Jesus And Me”, which is the heart of what Jam wishes to do; bring Jesus into the hearts of the children and allow Him to be first in their lives. JAM achieves this by: encouraging the children to build a strong relationship with Jesus, discipleship of the children through strong mentor-based relationships with leaders, and through a fun-filled program of praise, worship, teachings and activities. For more information, see the JAM Model.
        </p>
        
        <button class="btn btn-primary" (click)="navigateToLink('/nc-kidz/jam')" (click)="scrollToTop()">
            <b>READ MORE</b>
        </button>
    </div>

    <div id="go-row" class="nc-kidz-content">
        <img class="nc-kidz-image" [src]="ncGoLogoImageUrl" alt="Go Logo" width="350">            
        <p>
            <b>Ages:</b> 12 - 13 years<br>
            <b>When:</b> Friday 17:00 - 19:00
        <p>
        <p>
            GO is an exciting sub-ministry of NC Kidz, created specifically for preteens in Grades 6-7. It runs concurrently with Jam on Friday evenings at the New Creation Family Church Auditorium.
        </p>
        <p>
            The purpose of GO is to fulfill the mission and vision of NC Kidz in a way that is relevant to preteens, equipping them to live out their faith with confidence and purpose. GO stands for “God & Others,” reflecting the two greatest commandments—loving God and loving others. The word "go" appears more than 1,140 times in the Bible, emphasizing both a call to faith and a command to action.
        </p>
        <p>
            This program encourages preteens to actively pursue their relationship with God and serve those around them.GO achieves its mission by: Encouraging preteens to deepen their love for God and others through engaging and age-appropriate biblical teaching. Providing discipleship through meaningful relationships with dedicated leaders and mentors. Inspiring action through worship, service opportunities, and interactive activities that reinforce faith in everyday life. For more information, see the GO Program Model.
        </p>
        
        <button class="btn btn-primary" (click)="navigateToLink('/nc-kidz/go')" (click)="scrollToTop()">
            <b>READ MORE</b>
        </button>
    </div>

    <div id="our-values-row" class="nc-kidz-content">
        <h2>Our Values</h2>
        <hr><br>
        <h4>PASSION FOR JESUS, WORSHIP & PRAYER</h4><br>
        <p>
            We believe that every child is called to a have a total commitment to the Lordship of Jesus Christ, and to live a life being led by the Holy Spirit. We believe that true worship is a lifestyle of obedience to God rather than only a special activity. This lifestyle leads to expressions of worshipping the Lord like thanksgiving, praise, adoration, and intimate worship using songs, instruments, dance and drama.  We believe that prayer is an important part in growing your passion and relationship with Father God.
        </p>
        <br><br>

        <h4>BUILDING STRONG RELATIONSHIPS AND FAMILIES</h4><br>
        <p>
            We believe that genuine relationships should permeate every part of church life.  We are committed to community and to team ministry.  We believe that transformation happens best through friendship, discipleship, outreach, serving others, internship and accountability. We believe that the church is called to bring healing to the wounded family.  This includes encouraging and ministering to parents and children.  We believe that the church is called to heal the broken-hearted and set the captives free in the power of the Holy Spirit.  This includes healing of spirit, soul and body through the Word of God, prayer and supportive relationships.
        </p>
        <br><br>

        <h4>EVERY BELIEVER SERVING IN MINISTRY WITH A GREAT COMMISSION MINDSET</h4><br>
        <p>
            We believe that lost people are important to God and therefore ought to be important to the church. We are called to make disciples and not just converts. We believe that every follower of Jesus is called to the work of the ministry. This includes raising up leaders who will in turn raise up others to do the same. We believe we are to serve others with meekness and compassion, not being concerned only with our own interests, but expressing Christ's tender-hearted compassion and attitude of servanthood in all that we do.
        </p>
        <br><br>

        <h4>POWER OF GOD'S WORD</h4><br>
        <p>
            We believe in the power and absolute truth of God's Word.  We believe that anointed teaching of, and personal study and meditation in, God's Word renews the mind and transforms lives.  This includes equipping and training for the work of ministry.
        </p>
        <br><br>

        <h4>KINGDOM THINKING, HOLINESS & CHARACTER</h4><br>
        <p>
            We believe that we are called to unite and flow with the whole Body of Christ to reach our communities.  We believe in honouring one another, dwelling in unity and mutual sharing of resources, gifts and abilities.  We believe that we are called to live a life of character, which includes honesty, integrity, humility, meekness, self-discipline, teachability, perseverance, and a servant heart.
        </p>
        <br><br>

        <h4>EXCELLENCE</h4><br>
        <p>
            We believe that Biblical excellence (doing the very best with what God has given) honours God and inspires people. This involves working with a strategic focus and then evaluating and reviewing our actions.
        </p>
        <br><br>

    </div>

    <div id="our-vision-mission-row" class="nc-kidz-content">
        <h2>Our Vision and Mission</h2>
        <hr><br>
        <p>
            NCFC Kidz wants to impart, train, disciple and raise a generation of young children who know God, know who they are in God, and want to serve God with all they can! The aim is to provide the greatest and basic foundations for children to have a personal relationship with God and to become real examples of a Christ follower. NCFC Kidz aims to create a place where children can learn and share their experiences and encounters with God so to inspire others around them to get closer to Father God. We want Kids to live a Christ centered life.
        </p>
    </div>

    <div id="nc-goal-row" class="nc-kidz-content">
        <h2>Our Goal for NC Kidz</h2>
        <hr><br>
        <p>
            Our Goal is to have Christ-filled children, who receive and impart Godly characteristics in all aspects of Christian growth and development. This is achieved through committed and spirit led leaders who serve all children attending NCFC Kidz in a fun and creative manner in the following ways:            
        </p>
        <br>
        
        <ul>
            <li>
                Teachings - The use of themes; which are divided into weekly interactive lessons; that disciple, train, and encourage spiritual growth. Each lesson is taught by an Administration or Senior Leader and aims to be understandable and fun! All lessons are flexible, yet closely monitored.
            </li>
            <li>
                Games - The use of planned and fun games. The games we play are lesson focused and encourage an atmosphere of fun. The leaders all help by making sure all games are safe and enjoyable!
            </li>
            <li>
                Praise & Worship - Praising God for all He has done and is going to do is such an awesome part of NCFC Kidz. We aim to teach children to worship and praise God in a fun yet God honoring manner. We have praise songs, which we all dance and sing along with, and worship songs where we all quietly worship God in our own special way.
            </li>
            <li>
                Drama & Dance - With the leaders and kids together; we serve God with an awesome dance team who help with the praise and worship, and a talented drama team who help give funny and real illustrations to the lessons each week!                    
            </li>
            <li>
                Sessions/Groups/Zones - Sessions/Groups/Zones are a vital part of what we do at NCFC Kidz. Each week we divide all the children into what we call sessions/groups/or zones, according to their ages, genders or just in numbers.  In the sessions the kids:
            </li>
        </ul>   

        <ol>
            <li>Chat 1 on 1 with leader, to either grow friendships, ask questions, or to discuss the teaching for the week,</li>
            <li>Learn and practice memory verses,</li>
            <li>Read and learn bible stories,</li>
            <li>Receive illustrations or explanations on the teaching for the week,</li>
            <li>Perform activities (crafts, puzzles, etc) based on the weeks lesson, or</li>
            <li>Have times of prayer with each other and/or with the leader!</li>
        </ol>
    </div>

    <div id="contact-row" class="nc-kidz-content">
        <h2>Contact Us</h2>
        <hr>
        <p>
            For more info contact Piet at:<br>011 792 1151 or piet@newcreation.co.za
        </p>
    </div>
</div>

<app-contact-modal></app-contact-modal>