<div class="card" 
     data-bs-toggle="modal" 
     [attr.data-bs-target]="'#eventModal'+eventModalId">
    <div class="card-block">          
        <img class="card-img-top" [src]="event?.coverImageUrl" alt="{{event?.title}}">
    </div>
    <div class="card-footer">
        <div id="eventTitle">
            <h5><b>{{ event?.title | titlecase }}</b></h5>
        </div>
        <div id="eventDate">
            <small>{{event?.eventDate | date: 'MMM d, y'}}</small>
        </div>
    </div>
</div>

<!-- Modal -->
<div [id]="'eventModal'+eventModalId" 
     class="modal" 
     tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-md modal-fullscreen-sm-down event-modal-dialog">    
        <div class="modal-content event-modal-content">
            <div class="modal-header event-modal-header">
                <button type="button" 
                        class="btn-close btn-close-event-modal" 
                        data-bs-dismiss="modal" 
                        aria-label="Close"></button>
            </div>
            <div class="modal-body event-modal-body">
                <img class="card-img-top card-open-img-top" [src]="event?.coverImageUrl" alt="{{event?.title}}">
                
                <div class="event-modal-title">
                    <h4><b>{{ event?.title | titlecase }}</b></h4>
                    <small><i>{{ event?.eventDate | date: 'MMM d, y' }}</i></small>
                </div>

                <div class="text-center">
                    <a *ngIf="event?.callToActionLink != null && event?.callToActionLink != ''"
                       role="button" 
                       id="registerButton"
                       class="btn btn-success btn-green" 
                       [href]="event?.callToActionLink" 
                       target="_blank">
                        <b>{{ event?.callToActionTitle | uppercase }}</b>
                    </a>
                </div>

                <p class="event-modal-description" [innerHTML]="event?.description"></p>
            </div>

            <div class="modal-footer">
                <a *ngIf="event.contentUrl != null" 
                        type="button" 
                        data-toggle="tooltip" 
                        data-placement="top" 
                        title="Download attachment"
                        class="btn btn-sm btn-light btn-attachment float-left" 
                        [href]="event.contentUrl" download>
                    <b><i class="bi bi-download"></i>&nbsp;&nbsp;ATTACHMENT</b>
                </a>
                <button type="button"
                        class="btn btn-sm btn-light btn-contact-us float-right" 
                        (click)="triggerContactUsModal()">
                    <b>CONTACT US</b>
                </button>
            </div>
        </div>
    </div>
</div>