<div *ngIf="event?.status == 'Active'"
     class="card" 
     data-bs-toggle="modal" 
     [attr.data-bs-target]="'#eventModal'+eventModalId">
    <div class="card-block">          
        <img class="card-img-top" [src]="event?.coverImageUrl" alt="{{event?.title}}">
    </div>
    <div class="card-footer">
        <div id="eventTitle">
            <p><b>{{event?.title}}</b></p>
        </div>
        <div id="eventDate">
            <p>{{event?.eventDate}}</p>
        </div>
    </div>
</div>

<!-- Modal -->
<div [id]="'eventModal'+eventModalId" 
     class="modal" 
     tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-md modal-fullscreen-sm-down event-modal-dialog">    
        <div class="modal-content event-modal-content">
            <div class="modal-header event-modal-header">
                <button type="button" 
                        class="btn-close btn-close-event-modal" 
                        data-bs-dismiss="modal" 
                        aria-label="Close"></button>
            </div>
            <div class="modal-body event-modal-body">
                <img class="card-img-top" [src]="event?.coverImageUrl" alt="{{event?.title}}">
                
                <div class="event-modal-title">
                    <h4><b>{{event?.title | titlecase}}</b></h4>
                </div>

                <div class="event-modal-date">
                    <p>{{event?.eventDate | date: 'MMM d, y'}}</p>       
                </div>

                <div *ngIf="event?.callToActionLink != null" 
                     class="text-center">
                    <a role="button" 
                       id="registerButton"
                       class="btn btn-success btn-green" 
                       [href]="event?.callToActionLink" 
                       target="_blank">
                        <b>{{ event?.callToActionTitle | uppercase }}</b>
                    </a>
                </div>

                <p class="event-body" [innerHTML]="event?.postDescription"></p>
            </div>

            <div class="modal-footer">
                <button type="button"
                        class="btn btn-sm btn-secondary btn-contact-us float-left" 
                        (click)="triggerContactUsModal()">
                    <b>CONTACT US</b>
                </button>
                <button type="button" 
                        class="btn btn-sm btn-light float-right" 
                        data-bs-dismiss="modal">
                    <b>CLOSE</b>
                </button>
            </div>
        </div>
    </div>
</div>