.card {
    border: none;
    border-radius: 2px;
    margin-bottom: 15%;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    -moz-box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    -ms-box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    -o-box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}

.card:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    -moz-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    -ms-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    -o-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-img-top {
    width: 100%;
}

.card-block {
    max-height: 300px;
    overflow: hidden;
}

.card-block h4 {
    font-weight: bold;
}

.card-block a {
    margin-bottom: 5%;
}

.card-text {
    margin-top: 8%;
}

.card-footer {    
    height: auto;
}

.card-footer p {
    font-size: 1.25em;
    margin-top: 5%;
}

#eventDate {
    font-size: 95%;
}

.event-body {
    white-space: pre-line;
    text-align: left;
}

.btn-close-event-modal {
    // margin: 0 auto;
    padding: 1.2rem;
}

.modal-title {
    text-align: left;
}

.modal-header,
.modal-footer {
    border: none;
}

.event-modal-body {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

.event-modal-content {
    border: none;
}

.event-modal-title {
    padding-top: 2.5em;
}

.event-modal-date {
    padding-top: 0.75em;
}

.modal-header {
    padding: 0;
}

.modal-banner {
    width: 100%;
    height: 100%;
}

#registerButton {
    width: 10em;
    margin-top: 2em;
}

.modal-footer .btn {
    width: 8em;
}

.btn-contact-us {
    color: white;
    display: inline-block;
    margin-left: 0;
    margin-right: auto;
}
