.paragraph-section {
    margin-bottom: 30px;
}

.paragraph-inner-html {
    font-family: 'Noah';
    font-size: 1.25rem;
}

.paragraph-list {
    text-align: left;
}

.paragraph-list-heading {
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
}

.paragraph-list li {
    font-size: 1em;
}
