.events-section {
    text-align: center;
}
.events-title {
    padding-top: 5em;
}
.btn-all-events {
    margin-top: 2.5rem;
    width: 15rem;
}
.event-cards-container {
    padding: 5rem;
    text-align: center;
}