@font-face {
    font-family: "Nexa";
    src: url("./fonts/Nexa/Commercial/Nexa_V2_2020/OTF/NexaTextDemo-Light.otf") format('opentype'),
    url("./fonts/Nexa/Commercial/Nexa_V2_2020/TTF/NexaDemo-Light.ttf") format('truetype');
}

@font-face {
    font-family: "Nexa";
    font-weight: bold;
    src: url("./fonts/Nexa/Commercial/Nexa_V2_2020/OTF/NexaTextDemo-Bold.otf") format('opentype'),
    url("./fonts/Nexa/Commercial/Nexa_V2_2020/TTF/NexaTextDemo-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "Noah";
    src: url("./fonts/Noah/Commercial/OTF/Noah-Regular.otf") format('opentype'),
    url("./fonts/Noah/Commercial/TTF/Noah-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Noah";
    font-weight: bold;
    src: url("./fonts/Noah/Commercial/OTF/Noah-Bold.otf") format('opentype'),
    url("./fonts/Noah/Commercial/TTF/Noah-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "Noah";
    font-style: italic;
    src: url("./fonts/Noah/Commercial/OTF/Noah-RegularItalic.otf") format('opentype'),
    url("./fonts/Noah/Commercial/TTF/Noah-RegularItalic.ttf") format('truetype');
}

html {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    // -webkit-animation: fadeInAnimation ease 2.5s;
    // -moz-animation: fadeInAnimation ease 2.5s;
    // -ms-animation: fadeInAnimation ease 2.5s;
    // -o-animation: fadeInAnimation ease 2.5s;
    // animation: fadeInAnimation ease 2.5s;

    // -webkit-animation-iteration-count: 1;
    // -moz-animation-iteration-count: 1;
    // -ms-animation-iteration-count: 1;
    // -o-animation-iteration-count: 1;
    // animation-iteration-count: 1;

    // -webkit-animation-fill-mode: forwards;
    // -moz-animation-fill-mode: forwards;
    // -ms-animation-fill-mode: forwards;
    // -o-animation-fill-mode: forwards;
    // animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noah';
}

p {
    font-family: 'Noah';
    font-size: 1.2em;
}

@media (max-width: 18rem) {
    p {
        font-size: 1.1em;
    }
}

a {
    font-family: 'Noah';
}

li {
    font-family: 'Noah';
    font-size: 1.2em;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.container-fluid {
    padding: 0;
}

.row {
    margin: 0;
}

// Backgrounds
.background-image {
    -webkit-background-position: center;
    -moz-background-position: center;
    -o-background-position: center;
    background-position: center;

    -webkit-background-repeat: no-repeat;
    -moz-background-repeat: no-repeat;
    -o-background-repeat: no-repeat;
    background-repeat: no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-outline {
    color: white;
    background: transparent;
    border-color: white;
    border-width: 2px;
}

.btn-outline:hover {
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
}

.btn-green {
    background-color: #39a542;
}

.btn-green {
    background-color: #4fc259;
    border-color: #4fc259;
}

.btn-green:hover {
    background-color: #39a542;
    border-color: #39a542;
}

.btn-green-outline {
    color:#4fc259;
    background-color: transparent;
    border-color: #4fc259;
}

.btn-green-outline:hover {
    background-color: #39a542;
    border-color: #39a542;
}

.no-events {
    padding: 5em;
    color: #7f7f7f;
}

/*
*  Common Events styles
*/

@media (max-width: 68rem) {
    .event-cards-container {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media (max-width: 18rem) {
    .event-cards-container {
        padding: 2rem 1rem;
    }

    .btn-all-events {
        margin-top: 1rem;
        width: 12rem;
    }
}
