<div class="container-fluid text-center nc-kids-jam-container">
    <img class="nc-kidz-image" [src]="ncJamLogoImageUrl" width="350">      
    <br><br>

    <div id="ncJamContent">
        <h2>Jam Sessions Model</h2>
        <hr><br><br>

        <h4><u>REGISTRATION</u></h4><br>
        <p style="text-align:left">
            Jam Sessions begins with the registration process (around 16h45). Each child must pass through a secure process of registration before entering the auditorium. This is for security, administration, and control purposes. The registration process consists of 2 areas; Registration areas, and an Information & New Kids area. Each area is manned by leaders and is overseen by a senior leader. 
        </p>
        <ul>
          <li><b>Registration areas</b>&nbsp;-&nbsp;In this area children provide a membership card and the card is scanned. This books them into the system which provides us with all their details. Each child then goes and receives a name tag and then is sent into the auditorium. At the end of the evening, each child must return to the registration area and scan their cards. This then books them out of the system and they are able to leave.</li>
          <li><b>Information & New Kids area</b>&nbsp;-&nbsp;In this area the children that arrive for the first time are captured onto our database. His/Her details are collected and an indemnity form filled out by their parent. A NCFC Kidz card is issued, a name tag is then given and the child enters the auditorium. This area also provides information about NCFC Kidz processes, any announcements, camps & Holiday Club details, and any other NCFC Kidz related info!</li>
        </ul>
        <hr>
        <br><br><br>
        
        <h4><u>JAM TIME</u></h4><br>
        <p style="text-align:left">
            The function of JAM Time (JT) is to get the kids settled and to introduce the theme of the day! JT consists of welcoming the kids, having praise and worship, presenting the teaching and drama, and occasionally a large group game is played depending on time.
        </p>
        <ul>
          <li><b>Welcome</b>&nbsp;-&nbsp; This kicks off the program, getting the kids attention and settling them down.</li>
          <li><b>Announcements</b>&nbsp;-&nbsp;We welcome new kids, discuss upcoming events, and chat about matters that need attention.</li>
          <li><b>Prayer</b>&nbsp;-&nbsp;Prayer We give prayer unto the Father to welcome, honour, and spend time with Him.</li>
          <li><b>Theme Intro</b>&nbsp;-&nbsp;The theme for the day is introduced and the term/year theme is recapped.</li>
          <li><b>Praise and Worship</b>&nbsp;-&nbsp;Praise and Worship gets the kids singing and worshipping in order to honour God and ushering in His presence!</li>
          <li><b>Teaching</b>&nbsp;-&nbsp;A teaching is given based on the theme to get the kids thinking and equipping them with knowledge. Teachings consist of illustrations, dramas, and discussion. The memory verse for the day is also presented.</li>
        </ul>
        <hr>
        <br><br><br>

        <h4><u>SESSION TIME</u></h4><br>
        <p style="text-align:left">
            Sessions Time (ST) follows ST! The function of ST is to build relationship between the kids and the leaders, so that the theme of the day may be emphasized and that areas within the kid's lives that need attention may be identified. ST consists of prayer, bible stories and illustrations, theme discussions, activities, and the occasional game.<br><br>Sessions consist of:
        </p>
        
        <ul>
          <li><b>Prayer</b>&nbsp;-&nbsp;Open the time with prayer!</li>
          <li><b>Welcome</b>&nbsp;-&nbsp;Welcome all the kids, spend time finding out about the new kids (if any), and find out what were the weeks events in their lives!</li>
          <li><b>Memory Verse</b>&nbsp;-&nbsp;The Memory Verse of the day is practiced and previous verses are tested.</li>
          <li><b>Story/Illustration</b>&nbsp;-&nbsp;A bible story and/or an illustration based on the theme helps emphasize and explain the day's message!</li>
          <li><b>Activity/Game</b>&nbsp;-&nbsp;An activity and/or game helps children to memorize the theme and message of the day! The activity or game must be well prepared and also must be age appropriate!</li>
          <li><b>Prayer</b>&nbsp;-&nbsp;A prayer ends off the Group Time.</li>    
        </ul>
        <hr>
        <br><br>

        <h4><u>JAM TIME</u></h4><br>
        <p style="text-align:left">
          We meet again for JT after the ST to recap the day, have a final praise song and to go through any announcements again. The kids then leave collecting flyers, covering all announcements.
        </p>
        <ul>
          <li><b>Praise</b>&nbsp;-&nbsp;Praise gets the kids singing and worshipping in order to honour God!</li>
          <li><b>Wrap-up</b>&nbsp;-&nbsp;A recap of the day is done and kids are tested on the memory verse for the day.</li>
          <li><b>Announcements</b>&nbsp;-&nbsp;A recap of all announcements is given.</li>
          <li><b>Prayer</b>&nbsp;-&nbsp;We end off giving prayer unto the Father to protect us and aid us in implanting what was learnt into our lives.</li>
          <li><b>Game Time</b>&nbsp;-&nbsp;We play a game that is lesson based and aims to bring unity between the leaders and the children.</li>
        </ul>
        
        <hr>
        <br><br>

        <div class="contact-row">
            <p>We hope to see you at Jam Sessions soon!</p>
        </div>
    </div>
</div>