<header #navbarHeader 
    id="primaryHeader"
    class="primary-header fixed transparent flex">
    <div class="navbar-logo-wrapper"
         (click)="navigateToLink('/')">
        <img #navbarLogo
            class="navbar-logo"
            src="assets/images/logos/ncfc-logo-full.png"
            alt="NCFC Logo"/>
    </div>

    <button #navbarButton
        class="mobile-nav-toggle hamburger hamburger--collapse"
        type="button"
        (click)="toggleNavbar()"
        aria-controls="primary-navigation"
        aria-expanded="false">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>

    <nav>
        <ul #primaryNavigation
            id="primaryNavigation"
            data-visible="false"
            class="primary-navigation flex">
            <li *ngFor="let item of currentNavbarItems; let i = index"
                class="primary-navigation-list-item">
                <div class="dropdown">
                    <a *ngIf="item.show"
                       [ngClass]="{ 'dropdown-toggle': item.dropdownItems.length > 0, 'admin-link': item.name == 'ADMIN' }"
                       [id]="'navbarItem' + i"
                       class="navbar-item hover-underline-animation"
                       (click)="navigateToLink(item?.routerLink)"
                       data-bs-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        {{ item?.name }}
                    </a>

                    <div *ngIf="item.dropdownItems.length > 0"
                        class="dropdown-menu transparent"
                        [attr.aria-labelledby]="'navbarItem' + i">
                        <a *ngFor="let dropItem of item.dropdownItems"
                            class="dropdown-item"
                            href="#">
                            {{ dropItem?.name }}
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</header>
