<header id="primaryHeader"
    class="primary-header fixed transparent flex"
    [class.collapsed-navbar-header]="isCollapsed"
    [style.background]="headerBackground">
    <div class="navbar-logo-wrapper"
         (click)="navigateToLink('/')">
        <img class="navbar-logo"
            [class.shrink-navbar-logo]="isCollapsed"
            src="assets/images/logos/ncfc-logo-full.png"
            alt="NCFC Logo"/>
    </div>

    <button class="mobile-nav-toggle hamburger hamburger--collapse"
        type="button"
        (click)="toggleNavbar()"
        [class.shrink-navbar-button]="isCollapsed"
        [class.is-active]="navbarVisible"
        [attr.aria-expanded]="navbarVisible"
        aria-controls="primary-navigation"
        aria-label="Scroll to services">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
        <i class="bi bi-chevron-down nav-chevron" aria-hidden="true"></i>
    </button>

    <nav>
        <ul id="primaryNavigation"
            class="primary-navigation flex"
            [class.collapsed-primary-navigation]="isCollapsed"
            [attr.data-visible]="navbarVisible">
            <li *ngFor="let item of currentNavbarItems; let i = index"
                class="primary-navigation-list-item">
                <div class="dropdown">
                    <a  [ngClass]="{ 'dropdown-toggle': item.dropdownItems.length > 0 }"
                        [id]="'navbarItem' + i"
                        class="navbar-item hover-underline-animation"
                        (click)="navigateToLink(item?.routerLink)"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                        {{ item?.name }}
                    </a>

                    <div *ngIf="item.dropdownItems.length > 0"
                        class="dropdown-menu transparent"
                        [attr.aria-labelledby]="'navbarItem' + i">
                        <a *ngFor="let dropItem of item.dropdownItems"
                            class="dropdown-item"
                            href="#">
                            {{ dropItem?.name }}
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</header>
