<div class="container-fluid nc-kids-babies-container">
    <img class="nc-kidz-image" [src]="ncBabiesLogoImageUrl" width="350">      
    <br><br>

    <div id="ncBabiesContent">
        <h2>NC Babies Model</h2>
        <hr><br><br>
        
        <h4><u>REGISTRATION</u></h4><br>
        <p>
          The babies stay with their parents in the auditorium during praise and worship. We feel that it is important to worship the Lord as a family and for the babies to watch and learn from their parents how to praise the Lord. Straight after worship one or both parents accompany their baby to NC Babies room. (To the right of the stage.) We will have the ring directly after worship so that parents who chose to return to the service will not miss the beginning of the sermon.  
        </p>
        <hr>
        <br><br><br>
        
        <h4><u>BABIES BIBLE CLASS</u></h4><br>
        <p>
          The parents write their childs name on a name tag with their cell phone number under their child's name.  Parents sit in a circle with their baby on their lap.(The ring.) The programme is simple but effective, it is a vehicle for imparting foundational Godly principles such as: God made our world, God made families, God made me special, The Bible, Jesus is my friend, God has a plan for my life. These and other themes presented in Babies Bible Class where even 3-4 month olds are learning and absorbing songs and fundamental truths is an effective foundation for their future relationship with God.
        </p>
        <p>
          This programme is designed for a parent or adult Care-giver to participate with each child and therefore we request that parents bring him/her personally to this class. It is our experience that the value of Babies Bible Class has become evident as parents adopt the songs and principles and impart them, not only on Sundays, but also naturally and spontaneously throughout the week. That is why we encourage each parent to have a turn to facilitate the ring. Once the ring is finished parents can either return to the auditorium for the service with their baby (parents can make use of the cry room), they can leave their baby with the couple on duty to play with the educational activities and toys. For health reasons we ask that no juice bottles are left with the babies as we know how children “share” their juice. Also please make sure that your child has a fresh nappy on. If the baby is unable to settle the couple on duty can sms the parents to come and fetch their toddler.
        </p>
        <hr>
        <br><br><br>
        
        <h4><u>ROSTER ROTATION</u></h4><br>
        <p style="text-align:left">
          We ask each parent to serve on a roster and remain for the duration of the morning.<br>Duties include:  
        </p>

        <p style="text-align:left">
          <b>8:45</b>&nbsp;&nbsp;&nbsp;-&nbsp;Arrive, set-up, and prayer in the classroom.<br>
          <b>9:00</b>&nbsp;&nbsp;&nbsp;-&nbsp;Worship with family in the auditorium.<br>
          <b>9:40</b>&nbsp;&nbsp;&nbsp;-&nbsp;Return to the pre-school area receive and settle families.<br>
          <b>9:45</b>&nbsp;&nbsp;&nbsp;-&nbsp;Facilitate the ring.<br>
          <b>9:55</b>&nbsp;&nbsp;&nbsp;-&nbsp;Serve biscuits to those on solids :) Oversee playtime.<br>
          <b>10:30</b>&nbsp;-&nbsp;Ensure handover of the children to parents who have returned to the auditorium. Tidy up. Place everything back in the trunk and leave the classroom the way that you found it. We have a trunk in which we keep posters, mirrors, first aid, etc. for the use of the children.<br>
        </p>
        <hr>
        <br><br>

        <p>
          If you are willing to serve and are uncomfortable leading the ring, you can serve as a support/host and assist the couple on duty.
        </p>
        <br><br>

        <p>
            In addition to the host and the parent on duty, we are glad that some responsible teenagers are keen to serve in this ministry. They are trained as part of the team to ensure happy Sunday meetings together.
        </p>

        <hr>
        <br><br>
        
        <div class="contact-row">
            <p>We hope to see you in NC Babies!</p>
        </div>
    </div>
</div>