.sermons-container {
    padding-top: 10em;
    padding-bottom: 2em;
    padding-left: 4em;
    padding-right: 4em;
}

#sermonsTitle {
    text-align: center;
    padding-bottom: 5%;
}

#activeSermonContainer {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #efefef;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#activeSermonThumbnailContainer {
    padding: 0;
}

#activeSermonThumbnail {
    width: 100%;
    border-radius: 5px;
}

#activeSermonDetailsContainer {
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#activeSermonDateContainer {
    text-align: right;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
}

#sermonAudioPlayerContainer {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    background-color: #f4f4f4;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#sermonAudioPlayer {
    width: 100%;
}

#searchBarContainer {
    margin-top: 1rem;
}

#sermonTypeDropdownContainer {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    padding: 0;
}

#dropdownMenuButton {
    background-color: #fff;
    color: #495057;
    border-color: #ced4da;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    width: 100%;
    height: 100%;
    text-align: left;
    box-shadow: none;
}

#sermonSearchContainer {
    display: inline-block;
    padding: 0;
}

#sermonResultsContainer {
    margin-top: 2%;
    overflow-x: hidden;
    background-color: #fff;
    border-radius: 5px;
    padding: 0;
}

#sermonListContainer {
    margin-top: 1rem;
    min-height: 500px;
}

#sermonListColumn {
    padding: 0;
}

#sermonResultItemRow {
    border-bottom: 1px solid #e6e6e6;
}

#sermonResultItemRow:hover {
    cursor: pointer;
    background-color: #d8d8d8;
}

#sermonResultItemThumbnailContainer {
    padding-right: 0;
    padding-left: 0;
}

#sermonResultItemThumbnail {
    width: 100%;
    height: 100%;
    padding-right: 0;
    padding-left: 0;
    object-fit: cover;
    -webkit-object-fit: cover;
    -moz-object-fit: cover;
    -ms-object-fit: cover;
    -o-object-fit: cover;
}

#sermonResultItemContainer {
    padding-top: 1%;
}

#sermonResultItemDate {
    padding-top: 1%;
}

#sermonResultItemDateText {
    text-align: right !important;
}

#sermonResultItemContainer h5,
#sermonResultItemContainer p {
    text-align: left !important;
}

.sermon-date {
    font-size: 90%;
}

#sermonResultPaginationContainer {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.page-item:hover {
    cursor: pointer;
}

.disabled-link {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
    text-decoration: none;
    color: currentColor;
}

@media screen and (max-width: 68rem) {
    .sermons-container {
        padding-left: 1em;
        padding-right: 1em;
    }

    #sermonListContainer {
        margin-top: 2rem;
    }
    
    #sermonResultItemText {
        font-size: 0.8rem;
    }

    #sermonResultItemDateText {
        font-size: 0.7rem;
    }
}