<div class="container sermons-container">
    <div id="sermonsTitle">
        <h2><b>SERMONS</b></h2>
    </div>

    <div id="searchBarContainer" class="row">
        <div id="sermonTypeDropdownContainer" class="col-lg-2 col-3">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" 
                        type="button" 
                        id="dropdownMenuButton" 
                        data-bs-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false">
                    {{ sermonSearchType }}
                </button>
                <div class="dropdown-menu" 
                        aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" 
                        *ngFor="let type of availableSearchTypes" 
                        (click)="setSearchType(type)">
                        {{ type }}
                    </a>
                </div>
            </div>
        </div>
        
        <div id="sermonSearchContainer" class="col-lg-10 col-9">
            <input [(ngModel)]="sermonSearchTerm" 
                    name="sermonSearchInput" 
                    id="sermonSearchInput" 
                    type="text" 
                    class="form-control" 
                    placeholder="Search" 
                    data-bs-toggle="tooltip" 
                    data-bs-placement="top">
        </div>
    </div>

    <div id="sermonListContainer" class="row">
        <div id="sermonResultsContainer" 
             *ngIf="sermonsPage != null" 
             class="col-lg-12">
            <div class="sermonResultItem" 
                 *ngFor="let sermonItem of currentSermonFromPage" 
                 (click)="loadSermon(sermonItem)">
                <div id="sermonResultItemRow" class="row">
                    <div id="sermonResultItemThumbnailContainer" class="col-lg-1 col-2">
                        <img id="sermonResultItemThumbnail" 
                             [src]="getCoverImageBySermonSeriesId(sermonItem.sermonSeriesId)" 
                             alt="Sermon Series Logo"/>
                    </div>
                    <div id="sermonResultItemContainer" class="col-lg-9 col-6">
                        <p id="sermonResultItemText">
                            <b>{{ sermonItem?.sermonTitle }}</b><br>
                            {{ sermonItem?.sermonSpeaker }}
                        </p>
                    </div>
                    <div id="sermonResultItemDate" class="col-lg-2 col-4">
                        <p id="sermonResultItemDateText">
                            {{ sermonItem?.sermonDate | date: 'MMM d, y' }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div id="sermonResultPaginationContainer" class="col-lg-12">
            <nav aria-label="Sermons Page navigation">
                <ul class="pagination justify-content-center" 
                    *ngIf="sermonsPage != null">
                    <li *ngFor="let pageNumber of paginationNumbers" 
                        class="page-item" 
                        [ngClass]="{'active': pageNumber == currentPageNumber}">
                        <a class="page-link"
                            [ngClass]="{'disabledLink' : totalPages < 2}" 
                            (click)="loadPage(pageNumber)">
                            &nbsp;{{ pageNumber }}&nbsp;
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>