<div class="container sermons-container">
    <div id="sermonsTitle">
        <h2><b>SERMONS</b></h2>
    </div>

    
    <div id="searchBarContainer" class="input-group">
        <button class="btn btn-outline-secondary dropdown-toggle" 
                type="button" 
                data-bs-toggle="dropdown" 
                aria-expanded="false">{{ sermonSearchTypeText }}</button>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" (click)="setSearchType('sermonTitle', 'Title')">Title</a>
                <a class="dropdown-item" (click)="setSearchType('sermonSpeaker', 'Speaker')">Speaker</a>
                <a class="dropdown-item" (click)="setSearchType('sermonSeriesTitle', 'Series')">Series</a>
                <a class="dropdown-item" (click)="setSearchType('sermonDate', 'Sermon Date')">Sermon Date</a>
            </li>
        </ul>
        <input *ngIf="sermonSearchType != 'sermonDate'"
               [(ngModel)]="sermonSearchTerm" 
               name="sermonSearchInput" 
               id="sermonSearchInput" 
               type="text" 
               class="form-control" 
               placeholder="Search" 
               data-bs-toggle="tooltip" 
               data-bs-placement="top">
        <input *ngIf="sermonSearchType == 'sermonDate'" 
               [(ngModel)]="sermonSearchTerm"
               id="sermonDateInput" 
               class="form-control"
               type="date">
        <button type="button" class="btn btn-outline-success" (click)="searchSermons(1)">
            <i class="bi bi-search"></i>
        </button>
        <button type="button" class="btn btn-outline-secondary" (click)="resetSearch()">
            <i class="bi bi-arrow-counterclockwise"></i>
        </button>
    </div>

    <div id="sermonListContainer" class="row">
        <div *ngIf="isLoadingSermons" 
             class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div id="sermonResultsContainer" 
             *ngIf="!isLoadingSermons && sermonsPage != null" 
             class="col-lg-12">
            <div class="sermonResultItem" 
                 *ngFor="let sermonItem of currentSermonFromPage" 
                 (click)="loadSermon(sermonItem)">
                <div id="sermonResultItemRow" class="row">
                    <div id="sermonResultItemThumbnailContainer" class="col-lg-1 col-2">
                        <img id="sermonResultItemThumbnail" 
                             [src]="getCoverImageBySermonSeriesId(sermonItem.sermonSeriesId)" 
                             alt="Sermon Series Logo"/>
                    </div>
                    <div id="sermonResultItemContainer" class="col-lg-9 col-6">
                        <p id="sermonResultItemText">
                            <b>{{ sermonItem?.sermonTitle }}</b><br>
                            {{ sermonItem?.sermonSpeaker }}
                        </p>
                    </div>
                    <div id="sermonResultItemDate" class="col-lg-2 col-4">
                        <p id="sermonResultItemDateText">
                            {{ sermonItem?.sermonDate | date: 'MMM d, y' }}<br>
                            <small>{{ sermonItem?.sermonSeriesTitle }}</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="!isLoadingSermons" id="sermonResultPaginationContainer" class="col-lg-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" 
                           aria-label="Previous"
                           [ngClass]="{ 'disabled-link' : disablePreviousPageButton() }"
                           (click)="loadPreviousPage()">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"
                        *ngFor="let paginationNumber of paginationNumbers"
                        [ngClass]="{ 'active': currentPageNumber == paginationNumber && totalPages > 1 }">
                        <a class="page-link"
                           [ngClass]="{ 'disabled-link' : totalPages < 2 }"
                           (click)="loadPage(paginationNumber)">
                           {{ paginationNumber }}
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           aria-label="Next"
                           [ngClass]="{ 'disabled-link' : disableNextPageButton() }"
                           (click)="loadNextPage()">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>