<div class="connect-section row background-image">
    <div class="connect-title">
        <h2><b>BE INVOLVED</b></h2>
    </div>

    <div id="connectDescription" 
        class="col-12 connect-content">
        <p>
            Find out more on how you can get involved within the<br>New Creation Family Church community and wider ministries.
        </p>
    </div>
    <div id="connectButtonContainer" 
        class="col-12 connect-content">
        <button class="btn btn-success btn-green-outline connect-button"
                (click)="navigateToLink('/connect')">
            <b>FIND OUT MORE</b>
        </button>
    </div>
</div>