<div class="connect-section row background-image">
    <div class="connect-title">
        <h2><b>CONNECT</b></h2>
    </div>

    <div id="connectDescription" 
        class="col-12 connect-content">
        <p>
            Find out more on how you can get connected to the local church,
            community, and wider ministries here at New Creation.
        </p>
    </div>
    <div id="connectButtonContainer" 
        class="col-12 connect-content">
        <button class="btn btn-success btn-green-outline connect-button"
                (click)="navigateToLink('/connect')">
            <b>FIND OUT MORE</b>
        </button>
    </div>
</div>