.about-us-section {
    padding-top: 7rem;
    text-align: center;
    background-color: #f4f7fa;
}
.about-us-details {
    margin-bottom: 5em;
}
.more-about-button-container {
    margin-bottom: 5em;
}
#aboutButton {
    width: 15em;
}