<div class="about-us-section row">
    <div class="col-lg-6 col-sm-12 our-mission-container about-us-details">
        <h3><b>OUR MISSION</b></h3>
        <p>Loving God, Loving Others,<br>Advancing His Kingdom</p>
    </div>
    <div class="col-lg-6 col-sm-12 our-vision-container about-us-details">
        <h3><b>OUR VISION</b></h3>
        <p>Becoming His community<br>to impact our community</p>
    </div>

    <div class="more-about-button-container">
        <button id="aboutButton" 
                class="btn btn-success btn-green" 
                (click)="navigateToLink('/about')">
            <b>MORE ABOUT US</b>
        </button>
    </div>
</div>