<footer class="footer">
    <nav id="navbar-footer-home">
        <div class="container">
            
            <div class="row footer-row">
                <app-social-media-icons class="col-12"></app-social-media-icons>
            </div>
            
            <div class="row footer-row">
                <div class="col-md-3 col-sm-12 home-col">
                    <h4 class="footer-header">
                        <a [href]="baseUrl + '/'">Home</a>
                    </h4>
                    <ul class="footer-list">
                        <li><a [href]="baseUrl + '/about'" target="_blank">About Us</a></li>
                        <li><a [href]="baseUrl + '/sermons'" target="_blank">Sermons</a></li>
                        <li><a [href]="baseUrl + '/events'" target="_blank">Events</a></li>
                        <li><a [href]="baseUrl + '/connect'" target="_blank">Connect</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-12 ministry-col">
                    <h4 class="footer-header">
                        <a [href]="baseUrl + '/be-involved'">Ministries</a>
                    </h4>
                    <ul class="footer-list">
                        <li><a [href]="baseUrl + '/missions'" target="_blank">Missions</a></li>
                        <li><a href="https://www.thekingsschool.co.za" target="_blank">The King's School</a></li>
                        <li><a href="https://www.oasishaven.org" target="_blank">Oasis Haven</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-12 visitor-col">
                    <h4 class="footer-header">
                        <a [href]="baseUrl + '/visitors'">Visitors</a>
                    </h4>
                    <ul class="footer-list">
                        <li><a [href]="baseUrl + '/contact'" target="_blank">Contact Us</a></li>
                        <li><a [href]="baseUrl + '/visitors'" target="_blank">Visitors Page</a></li>
                        <li><a [href]="baseUrl + '/visitors/card'" target="_blank">Visitors Card</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-12 visitor-col">
                    <h4 class="footer-header">
                        <a href="https://www.cotn.org/" target="_blank">Church of the Nations</a>
                    </h4>
                    <ul class="footer-list">
                        <li><a href="https://www.cotn.org/" target="_blank">COTN Website</a></li>
                        <li><a href="https://connectedcotn.org/" target="_blank">Connected Cluster</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="row footer-row">
                <div class="col-12">
                    <sub>New Creation Family Church &copy; {{currentYear}}</sub><br>
                </div>
            </div>
            <br>
            <br>
        </div>
    </nav>
</footer>