<div class="visitors-section background-image row">
    <div class="visitor-title">
        <h2><b>NEW AROUND HERE?</b></h2>
    </div>

    <div class="col-lg-6 col-sm-12">
        <button class="btn btn-default btn-visitor"
                (click)="navigateToLink('/visitors/card')">
            <b>VISITOR CARD</b>
        </button>
    </div>
    <div class="col-lg-6 col-sm-12">
        <button class="btn btn-default btn-visitor"
                (click)="navigateToLink('/visitors')">
            <b>FIND OUT MORE</b>
        </button>
    </div>
</div>