<div class="welcome-banner-background background-image">
    <div class="welcome-home-container">
        <div class="welcome-home-circle">
            <div class="welcome-home-text-container">
                <div id="welcomeHome">
                    <p><b>WELCOME</b> HOME.</p>
                </div>
                <div id="joinTheFamily">
                    <p>JOIN THE <b> FAMILY</b></p>
                </div>
            </div>
        </div>
        <div class="welcome-home-square"></div>
    </div>
</div>