@import '/src/styles/colors.scss';

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.loading-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: $white;
}

.loading-container .logo {
    animation: fadeIn 2.5s;
    width: 100px;
    height: 30px;
}

.loading-container .stroke {
    animation: fadeIn 2s;
    width: 96px;
    height: 55px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 45px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.loading-container .stroke .line {
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: square;
    stroke-width: 8;
    stroke: $lime-green;
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 200, 200;
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dasharray: 200, 200;
        stroke-dashoffset: -200px;
    }
}