<div class="container-fluid visitor-card-container">
    <div class="visitor-banner background-image" [ngStyle]="{'background-image': getVisitorBannerImageUrl()}">
        <div class="visitor-banner-heading">
            <h2><b>WELCOME</b></h2>
        </div>
        <div class="visitor-banner-text">
            <p>
                <strong>Thank you</strong> for spending part of your weekend with us.<br>
                We're so glad you are here and hope you feel at <strong>home</strong>.
            <p>
        </div>
    </div>

    <div class="visitor-content">
        <div class="visitor-content-header">
            <h3><b>GET IN TOUCH</b></h3>
            <hr>
            <p>
                We'd love to connect with you! Please fill in your details on the form below.
            </p>
            <br>
        </div>

        <div class="visitor-content-form">
            <div class="row">
                <div class="col-lg-2 col-sm-0"></div>
                <div class="col-lg-8 col-sm-12">
                    <form>
                        <br>
                        <h4 class="text-center"><b>PERSONAL DETAILS</b></h4>
                        <br>
                        <div *ngIf="!isValidForm" class="alert alert-danger" role="alert">
                            Please fill in the required fields below
                        </div>
                        <p class="text-right">
                            <small class="text-right"><span class="required-field">*</span>&nbsp;-&nbsp;Required field</small>
                        </p>
                        <br>
                        <div class="input-group mb-3 row">
                            <label for="title" class="col-sm-2 col-form-label">Title:</label>
                            <div class="col-sm-10">
                                <select class="form-control custom-select" 
                                        [(ngModel)]="visitorDetails.title" 
                                        name="title" 
                                        id="title">
                                    <option disabled selected>Select a title</option>
                                    <option value="Mr">Mr</option>
                                    <option value=Mrs>Mrs</option>
                                    <option value="Ms">Ms</option>
                                    <option value="Miss">Miss</option>
                                    <option value="Dr">Dr</option>
                                    <option value="Pr">Pr</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-group mb-3 row">
                            <label for="firstName" class="col-sm-2 col-form-label"><span class="required-field">*</span>&nbsp;First Name:</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="visitorDetails.firstName" name="firstName" type="text" class="form-control" id="firstName" required>
                            </div>
                        </div>
                        <div class="input-group mb-3 row">
                            <label for="surname" class="col-sm-2 col-form-label"><span class="required-field">*</span>&nbsp;Surname:</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="visitorDetails.surname" name="surname" type="text" class="form-control" id="surname" required>
                            </div>
                        </div>
                        <div class="input-group mb-3 row">
                            <label for="contactNumber" class="col-sm-2 col-form-label"><span class="required-field">*</span>&nbsp;Cell Number:</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="visitorDetails.contactNumber" name="contactNumber" type="text" class="form-control" id="contactNumber" required>
                            </div>
                        </div>
                        <div class="input-group mb-3 row">
                            <label for="email" class="col-sm-2 col-form-label">Email:</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="visitorDetails.email" name="email" type="text" class="form-control" id="email">
                            </div>
                        </div>
                        <hr>
                        <br>
                        <h4 class="text-center">
                            <b>AREAS OF INTEREST</b>
                        </h4>
                        <br>
                        <div class="input-group mb-3 row">
                            <label>Find out more information about:</label>                     
                        </div>
                        <div class="input-group mb-3 row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-11">
                                <div *ngFor="let area of areasOfInterest; let i = index" class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" [id]="'lifeGroupsCheckbox'+i" (change)="toggleAreaOfInterest(area)">
                                    <label class="custom-control-label" [for]="'lifeGroupsCheckbox'+i">&nbsp;{{area}}</label>
                                </div>
                                <textarea *ngIf="isOtherArea" placeholder="Please indicate other area of interest" class="form-control" name="otherArea" id="otherArea" [(ngModel)]="visitorDetails.otherArea" cols="30" rows="4"></textarea>
                            </div>
                        </div>
                        <hr>
                        <br>
                        <div class="input-group mb-3">
                            <p><b>Note:</b>&nbsp;Please expect contact from us to make a once-off follow-up with you, and find out how you enjoyed the service.</p>
                        </div>
                        <br>
                        <div class="input-group mb-3 submit-button-container">
                            <button *ngIf="!isLoading" 
                                    class="btn btn-success btn-green submit-button" 
                                    (click)="triggerSubmitForm()">
                                <b>SUBMIT</b>
                            </button>
                            <button *ngIf="isLoading" 
                                    class="btn btn-success btn-green submit-button" 
                                    type="button" 
                                    disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                &nbsp;<b>SENDING...</b>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-2 col-sm-0"></div>
            </div>
        </div>
    </div>
</div>