<div class="service-section row">
    <div class="col-lg-12 service-details morning-service-details background-image">
        <h4 class="text-shadow-black">SUNDAY SERVICES</h4>
        <h3 class="text-shadow-black"><b>9AM</b></h3>
        <p class="text-shadow-black">Family gatherings in person and online every Sunday</p>
        <a id="churchOnlineButton" class="btn btn-success btn-green" href="https://live.newcreation.co.za/" target="_blank">
            <b>CHURCH ONLINE</b>
        </a>
    </div>
</div>