<div class="service-section row">
    <div class="col-lg-12 service-details morning-service-details background-image">
        <div class="service-content">
            <div class="service-pill">ONLINE CHURCH 9AM</div>
            <h2 class="service-title">SUNDAY<br>SERVICE</h2>
            <p class="service-description">Family gatherings in person and online every Sunday</p>
            <a id="churchOnlineButton" class="btn btn-success btn-green" href="https://www.youtube.com/@NewCreationJHB" target="_blank">
                <b>CHURCH ONLINE</b>
            </a>
        </div>
    </div>
</div>
