<div id="services" class="row">
    <div class="col-12">
        <div class="service-title">
            <h2><b>SERVICES</b></h2>

            <button id="churchOnlineButton" 
                    class="btn btn-success btn-green" 
                    href="https://live.newcreation.co.za/" 
                    target="_blank">
                <b>CHURCH ONLINE</b>
            </button>
        </div>
    </div>
</div>

<div class="service-section row">
    <div class="col-lg-6 col-sm-12 morning-service-details service-details background-image">

        <h4>MORNING</h4>
        <h3><b>9AM</b></h3>
        <br>
        <p>Join us in person or online every Sunday for our family gatherings at 9am</p>
    </div>
    <div class="col-lg-6 col-sm-12 evening-service-details service-details background-image">
        <h4>EVENING</h4>
        <h3><b>6PM</b></h3>
        <br>
        <p>Check out the Young Adults service Sunday evenings at 6pm</p>
    </div>
</div>