.sermon-series-view-container {
    padding-bottom: 2em;
    padding-left: 0;
    padding-right: 0;
}

#sermonSeriesBanner {
    position: absolute;
    top: 7%;
    left: 0;
    height: 400px;
    width: 100%;
    background-position: 10%;
}

#sermonSeriesContentContainer {
    padding-left: 10rem;
    padding-right: 10rem;
}

#sermonSeriesTitle {
    padding-top: 32rem;
    padding-bottom: 4rem;
}

#sermonSeriesDescription {
    padding-bottom: 2rem;
    white-space: pre-wrap;
}

#sermonList {
    margin-left: auto;
    margin-right: 0;
    padding-left: 0;
}

.sermon-item {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 3rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
    // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    transition: 200ms ease-out;
}

.sermon-item:hover {
    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 200ms ease-in;
}

@media (max-width: 68rem) {
    #sermonList {
        padding-left: 10rem;
    }
}

@media (max-width: 62rem) {
    #sermonList {
        padding-left: 5rem;
    }
}

@media (max-width: 60rem) {
    #sermonSeriesContentContainer {
        padding-left: 1em;
        padding-right: 1em;
    }

    #sermonSeriesTitle {
        padding-top: 32rem;
        padding-bottom: 3rem;
    }

    #sermonList {
        padding-left: 0;
    }
}