<div class="container-fluid sermon-series-view-container">
    <div id="sermonSeriesBanner" 
         class="background-image" 
         [ngStyle]="{'background-image': 'url(' + showSermonSeriesBannerImageUrl() + ')'}">
        <!-- Banner Image -->
    </div>

    <div id="sermonSeriesContentContainer" class="row">
        <div id="sermonSeriesTitle">
            <h2><b>{{ sermonSeries.seriesTitle | titlecase }}</b></h2>
        </div>

        <div id="sermonSeriesDescription" class="col-lg-4 col-md-6 col-sm-12">
            <p><i>{{ sermonSeries.seriesDescription }}</i></p>
        </div>

        <div id="sermonList" class="col-lg-8 col-md-6 col-sm-12">
            <div class="sermon-item" 
                 *ngFor="let sermon of sermonSeries.sermons; let i = index"
                 (click)="navigateToSermon(sermon.sermonSeoUrl)">
                <h4><b>{{ i + 1 }}. {{ sermon.sermonTitle | titlecase }}</b></h4>
                <p>
                    <i>{{ sermon.sermonSpeaker | titlecase }}</i>
                    <br>
                    <small>{{ sermon.sermonDate | date: 'MMM d, y' }}</small>
                </p>
                
            </div>
        </div>
    </div>
    
</div>
