<div class="container-fluid sermon-series-view-container">
    <div *ngIf="sermonSeries?.seriesCoverImageUrl"
         id="sermonSeriesBanner" 
         class="background-image" 
         [ngStyle]="{'background-image': 'url(' + showSermonSeriesBannerImageUrl() + ')'}">
        <!-- Banner Image -->
    </div>

    <div id="sermonSeriesContentContainer">
        <div id="sermonSeriesTitle">
            <h2><b>{{ sermonSeries?.seriesTitle | titlecase }}</b></h2>
            <h4><i>Sermons</i></h4>
        </div>

        <!-- <div *ngIf="sermonSeries?.seriesDescription" 
             id="sermonSeriesDescription" 
             class="col-lg-4 col-md-6 col-sm-12">
            <p><i>{{ sermonSeries?.seriesDescription }}</i></p>
        </div> -->

        <div id="sermonList">
            <div class="sermon-item"
                 *ngFor="let sermon of sermonSeries?.sermons; let i = index"
                 (click)="navigateToSermon(sermon.sermonSeoUrl)">
                <h4><b>{{ i + 1 }}.&nbsp;{{ sermon?.sermonTitle | titlecase }}</b></h4>
                <p>
                    <i>{{ sermon?.sermonSpeaker | titlecase }}</i>
                    <br>
                    <small>{{ sermon?.sermonDate | date: 'MMM d, y' }}</small>
                </p>  
            </div>
        </div>
    </div>
    
</div>
