.about-us-container {
    padding-top: 10em;
    margin-bottom: 5em;
    text-align: center;
}

p {
    font-size: 110%;
}

ul {
    padding-left: 0;
    text-align: left;
}

.section-row {
    padding-bottom: 4rem;
}

.about-us-title {
    text-align: center;
}

#collapseBtn {
    line-height: 70px;
    height: 70px;
    border: none;
}

.collapse-text {
    text-align: left;
}

.collapse-button {
    width: 50%;
    margin-bottom: 1%;
    opacity: 0.8;
}

.collapse-button-statement {
    border: none;
    background-color: inherit;
    width: 100%;
    text-align: left;
}

.collapse-button-statement:focus {
    outline: none;
}

.card {     
    position: relative;
    cursor: pointer;
    border: none;
    margin-bottom: 1%;    
}

.card-header {    
    background-color: #f1f1f1 !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-icon {        
    float: right;
}

.card-body {
    font-size: 16px;
}

hr {
    border-color: rgb(212, 212, 212);
}

#faq-row h4,
#faq-row p {
    text-align: center;
}

#faqList {
    margin-left: 3% !important;
    margin-top: 2% !important;
}

.photo-row {
    margin-bottom: 0 !important;
    padding-top: 5rem;
}

.photo-col {
    margin-bottom: 6%;
}

.img-leader {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    height: 180px !important;    
    margin-bottom: 10px;
    border-radius: 100%;
}

.img-story {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 68rem) {
    .img-story {
        width: 95%;
    }
}