<div id="giving" class="giving-section row">
    <div class="giving-title">
        <h2><b>GIVING</b></h2>
    </div>

    <div class="giving-content">
        <p>
            There are many ways in which you can give.
            At New Creation, we have a single bank account which is used for all aspects of the church.
            Please be specific in your reference as to the purpose of your gift.
        </p>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 giving-col">
        <div class="giving-option">
            <h4><b>BANK DETAILS</b></h4>
            <br>
            <p>
                First National Bank, Randburg<br>
                Branch Code: 254005<br>
                Account#: 50410005934
            </p>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 giving-col">
        <div class="giving-option">
            <h4><b>SNAPSCAN</b></h4>
            <br>
            <div class="text-center">
                <img id="nc-snapscan" src="../../../assets/images/snapscan/nc-snapscan.png" width="200">
            </div>
        </div>
    </div>
</div>