.contact-section {
    text-align: center;
    background-color: #e9ecef;
    padding-bottom: 2.5em;
}
.contact-title {
    padding-top: 5em;
    padding-bottom: 2em;
}
.contact-item {
    padding-bottom: 2em;
}
.contact-item-icon {
    margin-bottom: 1em;
}
.get-in-touch-section {
    background-color: #e9ecef;
    padding-bottom: 5em;
}
.btn-get-in-touch {
    width: 15em;
}